USE [master]
GO
/****** Object:  Database [TODOdb]    Script Date: 11.11.2020 16:14:17 ******/
CREATE DATABASE [TODOdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TODOdb', FILENAME = N'F:\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TODOdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TODOdb_log', FILENAME = N'F:\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TODOdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TODOdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TODOdb]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 11.11.2020 16:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](150) NULL,
	[Date] [smalldatetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 11.11.2020 16:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](2) NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([Id], [Username], [Password], [Role]) VALUES (1006, N'ffff', N'11111', NULL)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
ALTER TABLE [dbo].[Content]  WITH CHECK ADD  CONSTRAINT [FK_Content_Kullanici] FOREIGN KEY([UserId])
REFERENCES [dbo].[Kullanici] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Content] CHECK CONSTRAINT [FK_Content_Kullanici]
GO
USE [master]
GO
